# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Android
rpgmaster/android/.gradle
rpgmaster/android/captures/
rpgmaster/android/gradlew
rpgmaster/android/gradlew.bat
rpgmaster/android/local.properties
rpgmaster/android/**/GeneratedPluginRegistrant.java

# iOS
rpgmaster/ios/**/*.mode1v3
rpgmaster/ios/**/*.mode2v3
rpgmaster/ios/**/*.moved-aside
rpgmaster/ios/**/*.pbxuser
rpgmaster/ios/**/*.perspectivev3
rpgmaster/ios/**/*sync/
rpgmaster/ios/**/.sconsign.dblite
rpgmaster/ios/**/.tags*
rpgmaster/ios/**/.vagrant/
rpgmaster/ios/**/DerivedData/
rpgmaster/ios/**/Icon?
rpgmaster/ios/**/Pods/

# IDE
.vscode/

# secrets
rpgmaster/google-services.json
rpgmaster/lib/firebase_options.dart
.env
